<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">

            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Nos siga nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="sn">
                    <li>
                        <link rel="stylesheet" href="">
                    </li>

                </ul>
            </div>
        </div>
    </div>

</footer>
