<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <img src="https://scontent.fbau1-1.fna.fbcdn.net/v/t1.6435-9/214885263_2972247413103314_6955643744744098632_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ANHtcvMiwZgAX8O2yFa&tn=NJpYQKBpoKK9RdQy&_nc_ht=scontent.fbau1-1.fna&oh=6209aca3e0d6c7b5b88466295e3acdc6&oe=617442A3" alt="" 
            width="50px" height="50px" class="img-thumbnail img-fluid rounded-circle">
        </li>

          <li class="nav-item px-3">
            <p class="m-0 fs-14">Nome Usúaro</p>
          </li>

          
          <li class="nav-item px-3">
            <a href=""> 
                <p class="fs-14 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
            </a>
          </li>
        </ul>
 
            <ul class="navbar-nav mr-auto mb-2 mb-g-0 d-flex align-items-center">
                <li class="nav-item px-3">
                   <a class="m-0 fs-14">Sair</a> 
                  </li>
            </ul>


      </div>
    </div>
  </nav>
